


@font-face {
    font-family:"work-sans";
    src: url("../fonts/work-sans/worksans-light-webfont.woff") format("woff2"),
         url("../fonts/work-sans/worksans-light-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family:"work-sans";
    src: url("../fonts/work-sans/worksans-extralight-webfont.woff2") format('woff2'),
         url("../fonts/work-sans/worksans-extralight-webfont.woff") format('woff');
    font-weight: 100;
    font-style: normal;

}

h1{
  font-family: "work-sans", sans-serif;
  font-style: normal;
  margin-top: .5em;
  color: #4e8ce5;
}

h6{
  font-family: "work-sans", sans-serif;
  font-weight: 100;
  color: #ff5f43;

}

ul {
  font-size: .75em;
  padding-bottom: 2em;
  font-family: "work-sans", sans-serif;
  font-weight: 400;

}


.nav-item{
  padding left:.125em;
  padding-right: .125em;

}


.nav-link{
  color: #8b8c8e;
}

.nav-link:hover{
  color: #ffcb6a;
}

footer{
  font-family: "work-sans", sans-serif;
  font-size: .75rem;
}
